.container {
	width: 300px;
	/* height: 450px; */
	background: #ffffff;
	border-radius: 8px;
	color: var(--gray);
	padding: 10px;
}
.container:hover {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.imgContainer {
	height: 170px;
	position: relative;
}

.favorite {
	z-index: 2;
	position: absolute;
	top: 5px;
	right: 5px;
	background: var(--darkpink);
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	cursor: pointer;
}
.favorite:hover {
	background: var(--lightpink);
}

.img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	border-radius: 8px;
}

.recipeInfoContainer {
	display: flex;
	flex-direction: column;
}

.cuisineAndCategory {
	height: 20px;
	margin-top: 10px;
	display: flex;
	justify-content: flex-start;
}
.cuisineAndCategory span {
	color: var(--darkpink);
	padding-right: 15px;
	font-size: 14px;
}

.recipeInfo {
	display: flex;
	flex-direction: column;
}

.recipeInfo h2 {
	font-size: 20px;
	padding: 10px 0px;
	border-bottom: 2px solid var(--softgray);
}
.desc {
	font-size: 15px;
	height: 70px;
}

.date {
	font-size: 12px;
}

.recipeDetails {
	padding: 10px;
	display: flex;
	justify-content: flex-start;
	gap: 30px;
}
.clockContainer {
	display: flex;
	align-items: center;
	gap: 3px;
}
.totalTime {
	color: var(--darkpink);
}
.detailName {
	font-size: 12px;
}
