.container {
    background: var(--transpink);
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
    /* width: 50%; */
}

.container h3 {
    font-size: 25px;
}

.container ul {
    padding: 20px 25px;
}
.container li {
    padding: 5px;
}