.container {
	min-height: calc(100vh - 100px);
	color: white;
}
.innerContainer {
	height: calc(100vh - 100px);
	background-image: linear-gradient(
			0deg,
			rgba(0, 0, 0, 1) 0%,
			rgba(0, 0, 0, 0) 100%
		),
		url(/aboutpage/about-section-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mainSection {
	width: 60%;
	display: flex;
	justify-content: center;
	padding: 40px;
	background: #ff677ec9;
	border-radius: 5px;
}
.intro {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.brand {
	background: white;
	color: var(--darkpink);
	padding: 0px 10px;
	border-radius: 5px;
}

.missionSection {
	padding: 10px;
	background: var(--lightpink);
	color: var(--gray);
	border-radius: 5px;
	margin: 10px 0px;
	display: flex;
}
.imgContainer {
	flex: 1;
	text-align: center;
}
.missionContent {
	flex: 1.5;
	padding: 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background: white;
	border-radius: 5px;
}
.missionContent h1 {
	width: fit-content;
	padding: 5px 10px;
	background: var(--lightpink);
	color: white;
	border-radius: 5px;
}

@media (max-width: 1280px) {
	.mainSection {
        padding: 20px;
		width: 90%;
	}
}
@media (max-width: 768px) {
    .missionSection {
        flex-direction: column;
    }
}
@media (max-width: 640px) {
    .mainSection {
        padding: 10px;
    }
    .intro h1 {
        font-size: 25px;
    }
    .intro p {
        font-size: 15px;
    }
}

@media (max-width: 475px) {
    .intro {
        gap: 10px;
    }
    .intro h1 {
        font-size: 20px;
    }
    .intro p {
        font-size: 12px;
    }
}