.container {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	padding: 20px;
	border-radius: 10px;
	margin: 20px 0px;
	color: var(--gray);
}
.recipeInfo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.topContainer {
	display: flex;
	gap: 20px;
	position: relative;
}

.img {
	border-radius: 8px;
	object-fit: cover;
	/* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
	/* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.textContainer {
	padding: 10px;
}
.textContainer h1 {
	color: var(--darkpink);
	font-size: 50px;
	margin-bottom: 20px;
}

.authorAndRatingContainer {
	display: flex;
	align-items: center;
	gap: 20px;
}

.ingredients {
	margin: 30px 20px;
	border-bottom: 2px solid var(--softgray);
}
.ingredients h2 {
	color: var(--darkpink);
	font-size: 30px;
}
.ingredients ul {
	padding: 20px;
}
.ingredients ol {
	padding: 20px;
}
.ingredients li {
	padding: 5px;
}

.bottomContainer {
    margin-top: 30px;
	display: flex;
}
.infoContainer {
	flex: 2;
}
.pictureContainer {
	flex: 1;
	margin: 20px;
    display: flex;
    flex-direction: column;
	align-items: center;
    gap: 20px;
}

@media (max-width: 1350px) {
	.topContainer{
		flex-direction: column;
	}
	.img {
		width: 100%;
		height: 500px;
	}
	.pictureContainer {
		height: 200px;
	}
}

@media (max-width: 1024px) {
	.img {
		height: 400px;
	}
}

@media (max-width: 768px) {
	.img {
		height: 300px;
	}
	.authorAndRatingContainer {
		gap: 10px;
		flex-wrap: wrap;
	}
	.bottomContainer {
		flex-direction: column;
	}
}

@media (max-width: 640px) {
	.img {
		height: 250px;
	}
}
@media (max-width: 475px) {
	.img {
		height: 200px;
	}
	.container {
		padding: 10px;
	}
	.textContainer h1 {
		font-size: 30px;
	}
	.ingredients h2 {
		font-size: 20px;
	}
	.authorAndRatingContainer {
		gap: 5px;
	}
	.textContainer {
		padding: 5px;
		margin-bottom: 10px;
	}
	.ingredients ul {
		padding: 10px;
	}
	.ingredients ol {
		padding: 10px;
	}
}