.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--gray);
}

.inputContainer {
    display: flex;
    width: 100%;
}
.inputContainer label {
    flex: 1;
    padding: 10px;
}
.inputContainer input, .inputContainer textarea {
    flex: 2;
    padding: 10px;
    border-radius: 5px;
    background: var(--softgray);
}
.ingredientContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.ingredientContainer input {
    width: 300px;
}

@media (max-width: 768px) {
    .inputContainer {
        flex-direction: column;
    }
}