:root {
	--btn: #3673fd;
	--btnActive: #004cff;

	--darkpink: #ff677e;
	--lightpink: #ff9aa9;
	--transpink: #ffe5e9;

	--darkgray: #524a4c;
	--gray: #524a4c;
	--lightgray: #6d6265;
	--softgray: #e5e5e5;

	--white: #ffffff;
}

* {
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	max-width: 1536px;
	margin: auto;
	padding-left: 50px;
	padding-right: 50px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.loadingContainer {
	height: calc(100vh - 100px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.notFoundContainer {
	min-height: calc(100vh - 100px);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media (max-width: 1280px) {
	.container {
		max-width: 1024px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (max-width: 1024px) {
	.container {
		width: 768px;
	}
}

@media (max-width: 768px) {
	.container {
		width: 640px;
	}
}

@media (max-width: 640px) {
	.container {
		width: 475px;
	}
}

@media (max-width: 475px) {
	.container {
		padding-left: 5px;
		padding-right: 5px;
		width: 370px;
	}
}
