:root {
	--bg: #ffffff;
	--bgsoft: #ff9aa9;
	--text: #373233;
	/* --textsoft: #e5e5e5; */
	--btn: #3673fd;

	--darkpink: #ff677e;
	--lightpink: #ff9aa9;

	--darkgray: #373233;
	--gray: #524a4c;
	--lightgray: #6d6265;
	--white: #ffffff;

	--softgray: #e5e5e5;
}

* {
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--bg);
	color: var(--text);
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	max-width: 1536px;
	margin: auto;
	padding-left: 50px;
	padding-right: 50px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}