.container {
	position: absolute;
    left: calc(100vw - 60%);
    width: 300px;
	padding: 10px;
    border-radius: 7px;
}

.success {
	background: green;
	color: white;
}
.failed {
	background: red;
	color: white;
}
