.container {
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid var(--softgray);
	position: relative;
}

.logo {
	color: var(--darkpink);
	font-size: 50px;
	font-weight: bold;
}

.links {
	width: 400px;
	height: 40px;
	display: flex;
	justify-content: space-between;
}
.link {
	color: var(--darkgray);
	font-size: 20px;
	padding: 10px;
	box-sizing: content-box;
}
.link:hover {
	border-bottom: 2px solid var(--darkpink);
}

.buttons {
	width: 200px;
	font-size: 20px;
	display: flex;
	justify-content: space-between;
}
.button {
	padding: 10px;
	border: 2px solid var(--darkpink);
	border-radius: 7px;
	background-color: white;
}
.button:hover {
	background: var(--darkpink);
	color: white;
}
.button:nth-child(2) {
	background: var(--darkpink);
	color: white;
}

/* RESPONSIVE DESIGN CSS */
.mobileMenu {
	position: absolute;
	right: 0px;
	top: 100px;
	background: var(--softgray);
	padding: 10px;
	display: none;
	border-radius: 5px;
	z-index: 2;
}
.mobileLinks {
	display: flex;
	flex-direction: column;
	width: 200px;
}
.menuIcon {
	display: none;
}
.mobileButtons {
	width: 200px;
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}
.profileDiv {
	display: flex;
	gap: 20px;
	align-items: center;
}

@media (max-width: 1024px) {
	.links {
		display: none;
	}
	.link {
		background: rgb(255, 255, 255);
		margin: 3px;
		padding: 5px 10px;
		border-radius: 5px;
	}
	.buttons {
		display: none;
	}
	.menuIcon {
		display: block;
	}
	.mobileMenu {
		display: block;
	}
}

@media (max-width: 475px) {
	.logo {
		font-size: 40px;
	}
}
