.ratingDetail {
	width: fit-content;
	border-radius: 8px;
	display: flex;
	gap: 15px;
	padding: 10px;
	background: var(--softgray);
}
.ratingDetail div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.ratingDetail p {
	font-size: 12px;
	margin-bottom: 3px;
}

@media (max-width: 475px) {
	.ratingDetail {
		gap: 8px;
		padding: 5px;
	}
	.ratingDetail p {
		font-size: 10px;
	}
}
