.container {
    border-top: 2px solid var(--softgray);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.main {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-top: 30px;
    border-bottom: 2px solid var(--softgray);
    gap: 20px;
}

.brand {
    flex: 1;
    width: 25%;
    font-size: 15px;
    color: var(--lightgray);
}
.brand h1{
    color: var(--darkpink);
    margin-bottom: 20px;
    font-size: 40px;
}

.linkDiv {
    flex: 2;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 30px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 15px;
    color: var(--lightgray);
}

.footer {
    padding-top: 20px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--lightgray);
}
.icons {
    display: flex;
    gap: 20px;
}

@media (max-width: 1024px) {
    .main {
        flex-direction: column;
    }
    .brand {
        width: 100%;
    }
    .footer {
        flex-direction: column-reverse;
    }
    .icons {
        margin: 30px auto;
    }
    .linkDiv {
        margin-left: 0px;
    }
}

@media (max-width: 475px) {
    .links {
        font-size: 12px;
    }
}