.container {
	background: white;
	border-radius: 5px;
	padding: 10px;
}
.cardContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin: 5px 0px;
}

@media(max-width: 640px) {
	.cardContainer {
		gap: 5px;
		justify-content: space-between;
	}
}