.container {
	display: flex;
    justify-content: center;
	min-height: calc(100vh - 100px);
}

@media (max-width: 1024px) {
	.container {
		padding: 10px;
	}
}

@media (max-width: 475px) {
	.container {
		padding: 5px;
	}
}
