.container {
	background: var(--softgray);
	padding: 20px;
	margin: 20px 0px;
	border-radius: 8px;
	color: var(--gray);
}
.queryBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
.sortBy {
	display: flex;
	gap: 10px;
	align-items: center;
}
.sortBy select {
	background: var(--softgray);
    padding: 5px;
    border: 2px solid var(--gray);
    border-radius: 5px;
	font-size: 15px;
}
.recipeContainer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
}

@media (max-width: 1024px) {
	.container {
		padding: 10px;
		margin: 10px 0px;
	}
	.recipeContainer{
		gap: 10px;
	}
}

@media (max-width: 475px) {
	.container {
		padding: 5px;
	}
	.sortBy {
		gap: 5px;
	}
}