.container {
	background: var(--softgray);
	padding: 20px;
	margin: 20px 0px;
	border-radius: 8px;
	color: var(--gray);
}
.queryBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
.sortBy select {
	background: var(--softgray);
    padding: 5px;
    border: 2px solid var(--gray);
    border-radius: 5px;
	font-size: 15px;
}
.recipeContainer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
}
