.inputContainer {
	display: flex;
}

.inputContainer label{
    flex: 1;
    padding: 10px;
}

.inputContainer input {
    flex: 2;
    padding: 10px;
    border-radius: 5px;
}

.orderedList {
    padding: 10px;
    display: flex;
}   
.dummyDiv {
    flex: 1;
}
.orderedList ol {
    flex: 2;
}

.deleteDiv {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.deleteDiv span {
    cursor: pointer;
}

@media (max-width: 768px) {
    .inputContainer {
        flex-direction: column;
    }
    .orderedList {
        flex-direction: column;
    }
}