.container {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 30px;
	color: var(--gray);
}

.form div {
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: center;
	margin-top: 20px;
}
.form input,
.form button {
	width: 400px;
	padding: 15px;
	font-size: 15px;
	border-radius: 7px;
	background: var(--softgray);
}
.form button {
	color: white;
	background: var(--darkpink);
	cursor: pointer;
}
.form button:hover {
	background: var(--lightpink);
}

.mailSent {
	padding: 30px;
	background: var(--softgray);
	border-radius: 5px;
}
.green {
	color: green;
}

@media (max-width: 475px) {
	.container {
		gap: 20px;
		font-size: 15px;
		text-align: center;
	}
	.form input,
	.form button {
		width: 350px;
	}
}
