.container {
	padding: 10px;
	background: rgba(0, 0, 0, 0.627);
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	position: relative;
}

.closeBtn {
	position: absolute;
	right: 10px;
	top: 10px;
	background: white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.formContainer {
	width: 400px;
	height: 230px;
	background: var(--softgray);
	border-radius: 8px;
	padding: 10px;
}

.dropzoneStyle {
	border: 2px dashed #cccccc;
	background: white;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	cursor: pointer;
}
.previewStyle {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
}
.imageStyle {
	width: 100px;
	height: 100px;
	border: 3px solid var(--darkpink);
	padding: 3px;
	border-radius: 50%;
	object-fit: cover;
}

.uploadBtn {
	font-size: 15px;
	padding: 5px 10px;
	color: white;
	background: var(--darkpink);
	border-radius: 5px;
	cursor: pointer;
}

@media (max-width: 768px) {
	.container {
		flex-direction: column;
		justify-content: flex-start;
	}
	.formContainer {
		margin-top: 25px;
		width: 300px;
		height: 230px;
	}
}

@media (max-width: 640px) {
	.formContainer {
		width: 250px;
		height: 230px;
	}
}
